[2019-02-21 16:11] mgraauw opened #1 "adaextension toevoegen aan schema's"

[2019-02-27 14:06] mgraauw commented on #1
Done

[2019-02-27 14:06] #1 closed, assigned to nobody

[2019-02-28 16:33] xatapult opened #2 "Specificatie van verloskundig dossier incorrect?"
Ik kom in de spec voor het verloskundig dossier een concpet tegen (zoek op `shortName="type_zorginstelling_bij_verwijzing"`) waarbij de valueSet leeg is. Dat likt me incorrect of moet ik dat anders interpreteren?

[code]

[2019-02-28 16:35] xatapult opened #3 "Generatie examples-empty moet uit specificatie"
Het genereren van de examples-empty gebeurt nu vanuit de examples-lite. Maar dat klopt dan niet altijd, dat moet vanuit de specificatie.

[2019-03-12 16:06] mgraauw opened #4 "Support voor enums"
Zie: https://github.com/mgraauw/ADA-Lite-Geboortezorg#enums
enums zijn een alternatief voor aanlevering met value.

Wat nodig is:
- genereren van enums in de schema's
- zie design/schemas/kernset-ada-lite.xsd voor een ruwe draft

[2019-03-12 16:12] mgraauw opened #5 "Eenvoudige schema's voor ADA Lite"
Sommige leveranciers gebruiken de schema's ook voor codegeneratie, en dan werken de complexere full ADA schema's niet fijn. Zie design/schemas/kernset-ada-lite.xsd voor een voorbeeld.
En design/xsl/art-decor/release2liteschema.xsl voor een draft schemagenerator.

Gebruik van standaard ART DECOR tools voor deze schema's moeten we maar loslaten, laten we die wel gebruiken voor full ADA schema's.

[2019-03-12 16:14] mgraauw opened #6 "Support kernset 2.3, voorgaande zwangerschap 2.2"
Deze 2 transacties kunnen ook gegenereerd worden, zie:
https://github.com/mgraauw/ADA-Lite-Geboortezorg#todo

De links naar ART-DECOR staan eronder, als je format=html vervangt door =xml krijg je de specs.

[2019-03-12 16:17] mgraauw opened #7 "Toelichting op gebruik tools"
Voor leveranciers moet er nog docu komen hoe ze e.e.a. gebruiken:
- de schematron
- full ADA generator

[2019-03-13 07:02] xatapult commented on #3
Is geregeld. Wordt nu vanuit de specificatie gedaan.

[2019-03-13 07:02] #3 closed, assigned to xatapult

[2019-03-13 07:18] xatapult commented on #4
Opmerkingen/vragen:

- De waardes van de enums afleiden uit `@displayName`?
- Dit gaat dus over het ADA-lite formaat?
- `ada-lite2ada-full.xsl` moet dantoch ook aan aangepast worden, of heb ik het mis?

[2019-03-13 07:26] xatapult commented on #5
Tbv de schematron generatie genereer ik eerst een relatief eenvoudig maar wel geldig schema, zowel voor de full als voor de lite versie. Is het geen idee om dit schema te gebruiken als simple schema?

Het gegenereerde schema gebruikt benoemde complex types om zaken vast te leggen. Het is (jin mijn ervaring) voor code generatie over het algemeen eenvoudiger om definities gewoon te nesten (russian d

[2019-03-13 07:28] xatapult commented on #6
2? Op de todo lijst staan er 4. Wat bedoel je precies?

[2019-03-13 07:54] mgraauw commented on #5
Beide voorstellen zijn OK. Misschien voor russian doll ook even feedback van Vrumun (dat is die mail) bekijken.

[2019-03-13 07:55] mgraauw commented on #4
Klopt. Voor afleiden naam ben ik nog niet zeker of dat met de shortName routine uit ADA moet of niet.

[2019-03-13 07:56] mgraauw commented on #6
Er zijn er pas 2 op ART DECOR beschikbaar.

[2019-03-13 08:04] xatapult commented on #7
- Vanaf niveau installeren Saxon. Dit moet ook beschreven worden.
- Genereren van de validatie XSL met het Schematron straatje, Dus de XSL die de SVRL oplevert

[2019-03-13 08:05] mgraauw commented on #7
https://www.art-decor.org/mediawiki/index.php?title=Schematron-validation

[2019-03-13 08:06] xatapult commented on #7
We plaatsen hiervoor een readme in de ada-lite tak van de repo

[2019-03-13 08:08] xatapult commented on #7
Ook de omzetting van ada-lite naar ada-full documenteren

[2019-03-13 08:20] xatapult opened #8 "DIffs toevoegen aan de generatie tussen 22 en 23 versies."

[2019-03-13 08:35] xatapult commented on #5
Generator toevoegen, maar hoe we het precies gaan invullen is nog onduidelijk

[2019-03-13 08:36] xatapult commented on #5
schemas tak moet schemas-full worden

Toevoegen schemas-lite tak

[2019-03-13 08:37] xatapult commented on #4
enum is normalize-space + spaties vervangen door _

[2019-03-13 08:41] xatapult commented on #4
Evt. de shortname routine gebruiken later.

[2019-03-13 08:45] xatapult commented on #4
example-empty generator aanpassen? ook enums toevoegen als van toepassing? Of twee lege voorbeelden genereren

[2019-03-13 09:37] xatapult opened #9 "Opstellen en toevoegen copyright tekst"
Er moet een geschikte copyright tekst worden toegevoegd aan alle stylesheets . Deze moet ook worden geplaatst in de gegenereerde zaken als Schematrons en XSDs.

1. @mgraauw bepaalt de juiste tekst
1. @eriksiegel zorgt dat deze over verwerkt wordt

@mgraauw: Issue is nu voor jou. Als je de tekst hebt bepaat zet deze in dit issue en assign het issue vervolgens aan mij.

[2019-03-13 10:00] xatapult commented on #4
We krijgen nu enums als `Neurologische_bloedingen:_o.a._subarachnoidale_bloedingen/aneurysma_pre-existent`...

Niet echt lekker

[2019-03-13 10:14] mgraauw opened #10 "Controle op dubbelingen"
In theorie kan in een valueSet in ART DECOR:
- dezelfde @code twee keer voorkomen
- twee @displayName leiden tot dezelfde @enum in ADA Lite
Bij conversie naar specs Lite is het goed als er een check is hierop, en een (fatale) fout komt.
Mocht dit voorkomen, kijken we hoe we het oplossen, kans is klein, dus signaleren is voldoende.

[2019-03-13 10:15] mgraauw commented on #4
Probeer dan maar met de shortName routine

[2019-03-13 10:51] xatapult commented on #4
Dat ziet er al beter uit

[2019-03-13 12:35] xatapult commented on #4
- Enums worden meegenomen in de van toepassing zijnde schemas en schematrons
- In de empty examples worden op de juiste plekken ook enum attributen gegenereerd
- Conversie van ADA lite naar full aangepast op gebruik enum attributen
- Delen van de code voor hergebruik ondergebracht in een aparte bibliotheek `xsl/xsl-common.xsl`
- Overal duidelijker start commentaar gegenereerd + consistente naamgev

[2019-03-13 12:35] #4 closed, assigned to xatapult

[2019-03-13 13:02] mgraauw commented on #2
Dit element zit niet in verloskundig dossier, dus negeren we voorlopig maar.

[2019-03-13 13:02] #2 closed, assigned to mgraauw

[2019-03-13 13:10] xatapult opened #11 "Support voor adaextension element?"
In de readme kom ik het (to nu toe over het hoofd gezien) `<adaextension>` element tegen.

ALs ik het goed begrijp mag dit voorkomen (nul of meer keer) aan het einde van een group, in een ADA Lite document.

De ADA Lite schemas/schematrons moeten hier dan dus wel rekening mee houden, dat doen ze nu niet.

@mgraauw :

1. Moet dit in de schemas/schematrons voor lite documenten worden opgenomen?
1. Z

[2019-03-13 13:19] xatapult commented on #5
Toegevoegd. Ze staan in de directories:

- `schemas-simple-lite`
- `schemas-simple-full`

De directory `schemas` blijft gewoon bestaan.

De naamgeving aanpassen en ze "lite" en "full" noemen zou suggereren dat ze bedoeld zijn voor full en lite ADA documenten en dat klopt niet. We hebben een complexe/volledige en een simpele variant.

[2019-03-13 13:19] #5 closed, assigned to xatapult

[2019-03-13 13:38] xatapult commented on #6
@mgraauw Ik heb kernset 2.3 kunnen toevoegen, maar de links in de readme naar:

* Verloskundig dossier PWD 2.3
* Samenvatting voorgaande zwangerschap PWD 2.2
* Samenvatting voorgaande zwangerschap PWD 2.3

lopen allemaal dood. Graag een seintje als ik hier mee verder kan.

[2019-03-13 14:17] xatapult opened #12 "Toevoegen XSL-s voor SVRL generatie"
Om het gebruikers makkelijk te maken moeten de XSL-s die voor Schematron de SVRL berichten genereren toegevoegd worden.

Hoe dat moet is (o.a.) onderdeel van oXygen en kan vrij gebruikt worden.

[2019-03-13 15:10] xatapult commented on #12
Gebruik gemaakt van de skeleton implementatie in de GitHub repo https://github.com/Schematron/schematron.git

Er worden nu voor alle Schematron bestanden ook de bijbehorende SVRL XSLT stsylesheets gegenereerd in de svrl-xsl sub-directories

[2019-03-13 15:10] #12 closed, assigned to xatapult

[2019-03-14 08:20] xatapult commented on #8
Toegevoegd voor de kernset 22>23 vergelijking.

Welke diffs er worden gedaan wordt gestuurd door een XML file: `design/generator/data/difflist.xml`. Hier kunnen eenvoudig nieuwe aan worden toegevoegd als nodig.

[2019-03-14 08:20] #8 closed, assigned to xatapult

[2019-03-14 12:46] xatapult commented on #7
Er is nu een uitgebreide readme in de ada-lite tak.

**Let op:** De bron voor deze readme is design/documentation/README-ada-lite.md
Aanpassingen daar doen dus.

[2019-03-14 12:46] #7 closed, assigned to xatapult

[2019-03-14 13:35] xatapult commented on #10
@mgraauw Dubbele code komen niet voor, maar er blijken best vaak dubbele displaynames voor te komen, en de leiden dus weer naar dubbele enum waardes.

Bijvoorbeeld: kernset 23, concept `wijze_einde_zwangerschap`: Heeft dubbele entries met @displayName `medicamenteus` en `instrumenteel` (met verschillende codes). Voorzover ik het begrijp lijkt me dat sowieso een fout in de specificatie?!?

[2019-03-14 13:38] xatapult opened #13 "Dubbelingen verwijderen in specificaties"
Er blijken best veel dubbele displaynames voor te komen in de specificaties. Ik denk dat daar wat aan gedaan moet worden.

Hier is de uitvoer van mijn dubbelingen checker:

[code]

[2019-03-14 13:40] xatapult commented on #13
Het kan zijn dat een aantal dubbelingen in de enums zitten vanwege het enum generatie algoritme. in dat geval kunnen we dit aanpassen en ervoor zorgen dat er zeker nooit dubbelingen worden gemaakt.

Maar ja, dan hadden we bovenstaande problemen niet gezien. In dat geval stel ik voor om een check op dubbele @displayName entries er bij te stoppen.

[2019-03-14 13:42] xatapult commented on #10
Ik heb een apart issue #13 geopend om iets met die dubbele displaynames te doen.

[2019-03-14 13:42] #10 closed, assigned to xatapult

[2019-03-14 14:08] xatapult commented on #9
Het in-genereren van een copyright notice heb ik al wel toegevoegd voor alle gegenereerde stylsheets, schemas en schematrons.

 Je kunt deze tekst zelf aanpassen in het bestandje `design/xsl/lib/copyright.txt`

Wel moet er nog de copyright notice worden toegevoegd aan de xsl-s in de design tak. Kwestie van copy/paste als de tekst definitief is.

[2019-03-19 08:21] xatapult opened #14 "Toevoegen Github pages website"
Omdat het zo simpel is stel ik voor dat we een mini-websiteje toevoegen via het GitHub pages mechanisme.

Dit moet worden aangezet (of: @mgraauw kun je me mede-administrator maken van deze repo?)

[2019-03-19 12:47] xatapult commented on #11
Moet ondersteund worden. Gekopieerd naar de full versie

[2019-03-19 12:50] xatapult commented on #13
Het zijn geneste lijsten. Daar moet rekening mee gehouden worden. OOk de enum generatie moet daar rekening mee gaan houden.

Marc checkt nog even of dit idd de oplossing is

[2019-03-23 15:39] mgraauw commented on #6
De links doen het nu. Wel volgen vanaf de git repo, heb de pages niet bijgewerkt (moet dat nog even uitvinden).

[2019-03-27 07:01] xatapult commented on #14
Geregeld

[2019-03-27 07:01] #14 closed, assigned to xatapult, mgraauw

[2019-03-27 07:03] xatapult commented on #6
@mgraauw : De Github Pages worden ook gegenereerd, dus daar hoef (en moet) je niets rechtstreeks aan bijwerken.

[2019-03-27 07:36] xatapult commented on #6
Alle specs uit de todo lijst bijgevoegd + verschil rapportage generatie.

[2019-03-27 07:36] #6 closed, assigned to xatapult

[2019-03-27 07:59] xatapult commented on #11
Wat is het model voor `<adaextension>`. Any attributes, any child elements?

[2019-03-27 08:03] mgraauw commented on #11
Geen attributen, willekeurige children, geen namespace (of #any, mag ook).

[2019-03-27 08:06] xatapult commented on #11
In de door de ART-DECOR schema generator gemaakte definities mogen er wél attributen in voorkomen:
![image](https://user-images.githubusercontent.com/5820773/55059606-9ef59f80-506f-11e9-9889-6fcc623b9910.png)

[2019-03-27 08:07] xatapult commented on #11
Het lijkt me dat we dit model maar moeten aanhouden?

[2019-03-27 08:13] xatapult commented on #13
Sommige namen hebben levels. Naam van bovenliggend item meenemen

[2019-03-27 08:17] xatapult commented on #13
Enum algoritme gooit teveel karakters weg, bijwerken. Voorstel voor ander algoritme.

misschien heeft een leverancier nog reserved karakters? @mgraauw  vraagt het na.

[2019-03-27 08:18] xatapult opened #15 "Schema namen moeten zonder RetrieveTransaction er voor"

[2019-03-27 08:28] xatapult commented on #15
Specificatie namen zonder deze prefix is waarschijnlijk al genoeg

[2019-03-27 09:02] xatapult opened #16 "Maken HTML weergave ADA berichten"
Van de ADA berichten moet een HTML weergave kunnen worden gemaakt. Een *viewer* weergave.

Er zijn PDF weergave voorbeelden, bijvoorbeeld: https://github.com/Nictiz/Geboortezorg/blob/master/hl7_2_pdf/2_1/overdracht_acute_fase_bericht/doc/Scenario%20S05-AW-ada-text.pdf

Er is een keuze voor de implementatie:

- De vraag is of dit door leveranciers met een XSL instructie in de XML wordt gehangen. In

[2019-03-27 09:55] xatapult commented on #11
Alle schemas en schematrons ondersteunen nu het `<adaextension>` element.

Bij de transformatie van ada-lite naar ada-full wordt dit element één-op-één gekopieerd.

[2019-03-27 09:56] #11 closed, assigned to xatapult

[2019-03-27 10:08] xatapult commented on #15
Aangepast. In bestandsnamen is de _ vervangen door de - (consistentie)

[2019-03-27 10:08] #15 closed, assigned to xatapult

[2019-03-27 10:36] mgraauw commented on #9
Done, in copyright.txt, jouw naam er ook bijgezet dus kijk er even naar voor jouw akkoord.

[2019-03-27 11:54] xatapult commented on #13
@mgraauw Over de enum generatie: Bijvoorbeeld concept value miskraam heeft drie sub values (miskraam-spontaan, miskraam-medicamenteus, miskraam-instrumenteel). Is "miskraam" (zonder sub-waarde) zelf dan ook nog een geldige enum waarde of moet er in zo'n geval altijd een onderliggend niveau worden toegevoegd?

[2019-03-27 11:58] xatapult commented on #13
Als het niveau van een concept/exception meegenomen wordt daalt het aantal dubbelingen tot 18. En dat komt omdat er te veel karakters in de omzetting van displayName naar enum worden weggegooid/omgezet.

Als we weten wat de leverancier een acceptabele karakterset vindt kunnen we dit verder aanpassen.

[2019-03-27 12:32] xatapult opened #17 "Fout in verloskundig dossier 22"
In het verloskundig dossier 22 `design/specs-full/verloskundig-dossier-22.xml` staat een fout (?) concept:

[code]

Er is hier geen naam gedefinieerd. Moet hier wat aan gedaan worden?

Ik zal de generatoren zo aanpassen dat ze dit negeren.

[2019-03-27 12:45] mgraauw commented on #17
Ik heb de meest recente binnengehaald. die heeft dit probleem niet. Staat in specs-full

[2019-03-27 12:52] xatapult commented on #13
Als type=A, dan is het zelf geen geldige waarde (Abstract) en als type=S (Specializable) dan is het zelf wel geldig.

[2019-03-27 12:59] #17 closed, assigned to xatapult

[2019-03-27 13:08] xatapult commented on #9
Ook toegevoegd aan de stylesheets

[2019-03-27 13:08] #9 closed, assigned to xatapult

[2019-03-27 13:35] xatapult commented on #13
Abstract concept/exceptions zijn uit de waardenlijsten gehaald.

[2019-03-29 07:35] mjbosman opened #18 "Naam van veel elementen in schema's eindigen op "-start", dit zorgt voor problemen bij codegeneratie"
Het karakter '-' levert problemen op bij het omzetten van een schema naar C# code. Is het suffix "-start" noodzakelijk? In de vorige release waren deze suffixen niet aanwezig.

![image](https://user-images.githubusercontent.com/49057298/55216532-494efd80-51fd-11e9-9e83-d0213d52bb12.png)

[2019-03-29 07:44] mjbosman opened #19 "ConceptId en OID suffix"
In de nieuwe schema's is het conceptId weer aanwezig? Moet deze er in blijven? Zijn de OID suffixen ook noodzakelijk?

![image](https://user-images.githubusercontent.com/49057298/55217016-a9926f00-51fe-11e9-9ce2-a86fbd954e0d.png)

[2019-03-29 09:04] mgraauw commented on #19
In schemas-simple-lite zit een schema zonder oid suffix en waar conceptId optioneel is. Zie ook:
https://github.com/mgraauw/ADA-Lite-Geboortezorg/tree/master/ada-lite
daar staan in de doc de verschillende schema's toegelicht. schemas-simple-lite is eigenlijk schema dat je zou moeten kiezen. Maar kijk of dit werkt voor jullie zonder de types.

De oid suffix kunnen we daar weglaten omdat de types an

[2019-03-29 09:08] mgraauw commented on #18
Dit zit ook niet in de schemas-simple-lite

[2019-03-29 09:08] #18 closed, assigned to nobody

[2019-04-03 08:57] mgraauw opened #20 "Expliciete types ipv Russian doll"
Schema's aanpasssen. Zie voorbeeld.

[2019-04-03 08:58] mgraauw commented on #20
En type namen volgens: vrouw_6
waarbij 6 laatste deel van de oid van concept/@id is.

[2019-04-03 09:01] xatapult commented on #20
En: rename `schemas` directory ==> `schemas-art-decor`

Docu aanpassen!

[2019-04-03 09:03] xatapult commented on #13
We wachten even af op verder commentaar van de mensen die hier gebruik van maken.

[2019-04-03 09:33] xatapult commented on #16
Aanvullende eisen:

- Op basis van ADA lite
- Kolombreedtes instelbaar
- Conversies op sommige data elementen (bv. dagen ==> 2w3d)

[2019-04-03 09:46] xatapult opened #21 "Converteren HL7 V2 naar ADA"

[2019-04-03 11:17] xatapult commented on #16
Marc maakt eerst een aantal meer volledige data voorbeelden

[2019-04-03 11:17] mgraauw commented on #19
Is inbegrepen in issue #20

[2019-04-03 11:17] #19 closed, assigned to nobody

[2019-04-03 11:19] xatapult commented on #20
Voorbeeld van een ouder schema dat met de juiste structuur:

[kernset-ada-release.zip](https://github.com/mgraauw/ADA-Lite-Geboortezorg/files/3038353/kernset-ada-release.zip)

[2019-04-03 15:43] xatapult commented on #20
Done

[2019-04-03 15:43] #20 closed, assigned to xatapult

[2019-04-03 15:44] xatapult commented on #16
Er staan nu voorbeelden in `design/examples-full-22` die als basis gebruikt kunnen worden voor volledige datasets. Deze moeten nog wel aangepast worden om correcte ADA lite berichten te worden.

[2019-04-10 06:25] xatapult opened #22 "Typeren datetime velden in de schemas"
Ingebracht door Marco Bosman van Vrumun:

Ik zie dat het type datum helemaal niet meer gebruikt wordt, is hier een reden voor?

![vb](https://user-images.githubusercontent.com/5820773/55856295-295afa80-5b6a-11e9-9f91-8df70177a089.jpg)

[2019-04-10 06:29] xatapult commented on #22
Ik heb het nog even nagekeken en de reden dat dit veld (en andere datum/tijd velden) als xs:string getypeerd zijn is dat de semantiek van deze data types in ADA definities niet eenvoudig één-op-één te vertalen is naar XML Schema datatypen. Een datum/tijd kan allerlei varianten hebben, zie onderstaande tabel:

timeStampPrecision | value
-- | --
Y | at least year (YYYY)
Y! | only year (YYYY)
YM | at

[2019-04-10 06:38] mjbosman commented on #22
Helder. Van mij mag je het ook zo laten als het nu is, het gaat niet om heel veel velden.

[2019-04-10 07:08] xatapult commented on #22
Dan laten we het zoals het is.

[2019-04-10 09:50] mgraauw commented on #22
HL7 veronderstelt een subset van ISO 8601 format datums:

"The value of a point in time is represented using the ISO 8601 compliant form traditionally in use with HL7. This is the form that has no decorating dashes, colons and no "T" between the date and time. In short, the syntax is "YYYYMMDDHHMMSS.UUUU[+|-ZZzz]" where digits can be omitted from the right side to express less precision. Common fo

[2019-04-10 10:23] xatapult commented on #22
Dus we moeten toch preciezer worden hierop? Voorgestelde oplossing 3 dus in https://github.com/mgraauw/ADA-Lite-Geboortezorg/issues/22#issuecomment-481551899 ?

[2019-04-10 10:56] mgraauw commented on #22
Gewoon deze lijkt me goed genoeg, niet YM! en zo ondersteunen, dat komt toch nooit voor.
<xs:simpleType name="TimeStampNoTimezone">
<xs:restriction base="xs:dateTime">
<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
</xs:restriction>
</xs:simpleType>

[2019-04-10 11:09] xatapult commented on #22
Ok. De variatie van alleen een datum (YMD)  is _wel_ aanwezig. Dat zullen we dus ook apart moeten ondersteunen.

[2019-04-10 11:45] mgraauw commented on #22
Hm, Nog eens gekeken, maar datatype van DECOR is niet goed. Deze uit HL7 datatypes is beter:
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}|([0-9]{9,14}|[0-9]{14,14}\.[0-9]+)([+\-][0-9]{1,4})?"/>
        </xs:restriction>

[2019-04-10 11:51] xatapult commented on #22
Daartegen valideren ISO8601 datums/tijden niet. En het moet toch ISO formaat zijn?

[2019-04-10 11:56] mgraauw commented on #22
Ik denk wel dat ze valideren. Streepjes en zo zijn optioneel in 8601 en
Wikipedia zegt: "It is permitted to omit the 'T' character by mutual
agreement."
Zie:
https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations

Ik ben vroeger ook wel eens de ISO spec ingedoken voor ditzelfde punt.

Marc

On Wed, 10 Apr 2019 at 13:51, Erik Siegel <notifications@github.com> wrote:

--
Groet

[2019-04-10 12:01] xatapult opened #23 "Herstel fouten verloskundig dossier"
In de definitie van het verloskundig dossier 23 lijken diverse fouten te zitten. Onderstaande lijst is wat is gevonden, mogelijk zijn er meer dingen mis:

- Verplichte elementen die (waarschijnlijk) niet verplicht horen te zijn:
  - `soort_drugs`
  - `trisomie_in_de_anamneseq`
- Het element `medisch_onderzoek` bevat meerdere velden die (waarschijnlijk) onterecht als verplicht zijn aangemerkt. Bove

[2019-04-11 06:13] xatapult commented on #22
Wat praktijktests gedaan. Volgens mij zit er een foutje in dat pattern. Er moet een `\` voor de decimale punt:

`[0-9]{1,8}|([0-9]{9,14}|[0-9]{14,14}\.[0-9]+)([+-][0-9]{1,4})?`

[2019-04-11 06:19] xatapult commented on #22
Ik ga dit pattern inbouwen, maar het betekent dus _wél_ dat we dan zeggen dat datums/tijden _verplicht_ aangeleverd moeten worden als bv `20190101121212` en _niet_ in het "normale" ISO 8601 formaat `2019-01-01T12:12:12`.

@mgraauw  en @mjbosman : Dat is een side effect van datums/tijden _op deze manier_ strakker typeren. Is dat ok?

[2019-04-11 06:34] xatapult commented on #22
Ik zie al dat het mis gaat. In de aanwezige voorbeelden zijn datums/tijden genoteerd op de "normale" ISO wijze: `<datum_start_zorgverantwoordelijkheid value="2016-01-05T00:00:00"/>`

Wat te doen?

1. Voorbeelden aanpassen en datums als yyymmdd noteren?
1. Toch _alleen_ de standaard ISO notatie toestaan?
1. Regexp voor het datum/tijd type aanpassen zodat de normale ISO notatie er ook in past. Gevol

[2019-04-11 06:38] mjbosman commented on #22
Het lijkt mij altijd beter om een standaard aan te houden, zeker in het geval van een datum/tijd. Mijn voorkeur gaat zeker uit naar optie 2.

[2019-04-11 07:15] mgraauw commented on #22
Beide formaten (2019-04-11T09:12+01:00 en  201904110912) zijn conform ISO
8601.
Lastige is dat HL7v3 het tweede formaat wil en FHIR het eerste.
Makkelijkste lijkt me dan inderdaad in ADA Lite het eerste formaat te doen.
In sommige gevallen moeten we toch converteren.

Marc

On Thu, 11 Apr 2019 at 08:38, mjbosman <notifications@github.com> wrote:

--
Groet,

Marc de Graauw
06 53146724

[2019-04-11 07:35] xatapult commented on #22
In een XML schema betekent een datatype xs:date of xs:dateTime dat _alleen_ de uitgebreide notatie wordt geaccepteerd en niet de verkorte `YYYMMDD` notatie... Vandaar dat ik het ook de "normale" notatie noem. Ik wist daarom niet beter dan dat _alleen_ dit binnen ISO 8601 was toegestaan.

Ik zal de boel zo aanpassen dat alleen de "normale" notatie wordt geaccepteerd en dit ook in de Schematrons doo

[2019-04-11 08:54] xatapult commented on #22
Ok. Geïmplementeerd.

Alle datum/tijd velden hebben nu het type `t-datetime`

Dit is gedefinieerd als:

[code]

[2019-04-11 08:54] #22 closed, assigned to xatapult

[2019-04-18 06:01] xatapult commented on #21
Openstaande vragen:

1. In het verloskundig dossier zijn er voor gegevens als telefoonnummer/email vd vrouw geen velden. Klopt dat? Ik vraag het omdat dit soort gegevens wel in het Astraia HL7V2 bericht kunnen zitten. Ik vind het wat raar dat de gegevens vd vrouw in het ADA formaat zo incompleet ogen.
2. de spreadsheet met over te nemen gegevens staan gegevens die overgenomen moeten worden, zonder

[2019-04-18 06:02] xatapult commented on #21
[Astraia ORU bericht toelichting.xlsx](https://github.com/mgraauw/ADA-Lite-Geboortezorg/files/3092954/Astraia.ORU.bericht.toelichting.xlsx)

[example.hl7.txt](https://github.com/mgraauw/ADA-Lite-Geboortezorg/files/3092957/example.hl7.txt)

[2019-04-18 08:01] mgraauw commented on #23
Toevoegen:
telefoonnummer
email vd vrouw
Check van de rest.

[2019-05-06 09:03] mgraauw commented on #23
Aangegeven items hersteld, ook alles nog eens nagelopen. Zit nog niet in een release.

[2019-05-07 10:25] mgraauw commented on #21
Ad 1: Toegevoegd
Ad 2: Ik heb een aparte transactie gemaakt, zie:
https://decor.nictiz.nl/decor/services/RetrieveTransaction?id=2.16.840.1.113883.2.4.3.11.60.90.77.4.2480&effectiveDate=2019-05-06T15:45:28&language=nl-NL&ui=nl-NL&format=html&hidecolumns=45ghijklmnop
row 7: zit er nu in
row 9: weglaten
row 23: weglaten
row 24 + 25: doe maar even in opmerkingen, met "DIAGNOSIS: " en "CONCLUSION: " er

[2019-05-14 13:32] mgraauw opened #24 "diff laat groepen niet zien"
Als een groep is toegevoegd/verwijderd, zie je alleen bij de groep erboven 'Nieuw' of 'Verwijderd'.
Maar de groep zelf komt niet terug. B.v. in dit overzicht:
file:///C:/Users/Marc/Desktop/diff-acute-overdracht21-kernset23.html
zie je wel dat 'Overdrachtdetails' is verwijderd, en 'Postnatale fase' nieuw, maar deze groepen zijn niet te zien.
Dat maakt dat je toch niet alle wijzigingen in detail zie

[2019-05-14 13:50] mgraauw commented on #24
Ook trouwens aardige toevoeging: kort overzicht in tabel bovenin met totaal aantal groepen, items, codelijstitems van bron1 en bron2, dan zie je kort over wat voor omvang het gaat.

[2019-05-15 08:10] mgraauw commented on #21
Ad 5: percentielen wel overnemen, even met een voorlopige code (staat denk ik ook in ART DECOR)

[2019-05-15 08:42] xatapult commented on #16
Dit is even geparkeerd omdat een aantal zaken niet duidelijk waren.

[2019-05-15 08:46] xatapult commented on #16
Er is een viewer conversie gemaakt op basis van een eerdere (PDF/XSL-FO) viewer weergave van een ouder ADA bericht. Helaas waren niet alle codes/OIDs te mappen naar de nieuwe weergave.
[DEV-view-verloskundig-dossier-23-result.zip](https://github.com/mgraauw/ADA-Lite-Geboortezorg/files/3181705/DEV-view-verloskundig-dossier-23-result.zip)

[2019-05-20 11:09] xatapult commented on #24
Aangepast. De Github homepage https://mgraauw.github.io/ADA-Lite-Geboortezorg/ linkt nu naar zowel het volledige als het vereenvoudigde formaat.

[2019-05-20 11:09] #24 closed, assigned to xatapult

[2019-05-21 12:36] xatapult commented on #21
@mgraauw In het V2 bericht komen bij meerlingen per kind gegevens voor. Dus het veld `<foetusspecifieke_onderzoeksgegevens>` zal herhaalbaar moeten worden?

[2019-05-21 12:53] xatapult commented on #21
Er ontbreken nog een paar in ADA verplichte velden in de invoer:

- `<datum_bepaling_a_terme_datum>` Hiervoor heb ik de onderzoeksdatum ingevuld, maar dat hoeft natuurlijk niet te kloppen. Dat kan ook al eerder gebeurd zijn.
- `<a_terme_datum_obv>` Er zijn geen gegevens beschikbaar over hoe de a-terme datum is vastgesteld. Waarde nu vastgezet op "Other", maar eigenlijk zou je een "Onbekend" als wa

[2019-05-21 12:56] xatapult commented on #21
Waardes in een ADA bericht staan in attributen. Het is dus niet handig daar newlines in te plaatsen, omdat XML verwerking attribuut waardes mag normaliseren. Nu opgelost door ipv een newline een `/` te gebruiken.

[2019-05-21 13:22] mgraauw commented on #21
Dat is prima zo.

De waarde is in dit geval altijd '31541000146106', zie:
http://decor.nictiz.nl/decor/services/RetrieveValueSet?prefix=peri20-&id=2.16.840.1.113883.2.4.11.240&effectiveDate=2017-06-08T15:30:50&version=&format=html&language=nl-NL&seetype=live-services

Mag je vast zo invullen (voor dit bericht).

[2019-05-21 13:24] mgraauw commented on #21
Waar zittten die newlines? Dit is niet zo'n goede oplossing, maar er is toch al een use case voor text values in ada concept, misschien beter dat uitwerken. B.v. <text> child onder het concept, waarbij dan @value leeg moet zijn. Of text content en @value leeg.

[2019-05-21 13:31] xatapult commented on #21
Newlines zitten bijvoorbeeld hier, in je eigen voorstel:

Verder zijn er meldingen in het ASTRAIA bericht gecodeerd met `\.br`:

[code]

Het lijkt me dat dit toch newlines voorstellen...

[2019-05-21 13:38] xatapult commented on #21
Hmmm. Dat betekent een refactoring van ons ADA Lite fabriekje: Schema's en Schematrons gaan dus veranderen, want dat moet dan wel mogen.

[2019-06-05 08:09] mjbosman opened #25 "Prio1 huidig spec mist a terme datum"
Er kan geen a terme datum worden vastgelegd volgens de "Prio1-huidig" spec. In het Babyconnect Viewer mockup scherm is de a termedatum wel opgenomen. Welke is juist?

![image](https://user-images.githubusercontent.com/49057298/58940454-c789cc00-8779-11e9-9217-4f16038c64f2.png)

[2019-06-05 19:23] mgraauw commented on #25
A terme datum hoort er wel bij, dus de spec is onvolledig. Ik zal het (volgende week) herstellen.

[2019-06-13 15:19] mgraauw commented on #25
Fixed

[2019-06-13 15:19] #25 closed, assigned to nobody

[2019-06-13 15:20] mgraauw commented on #23
Fixed

[2019-06-13 15:20] #23 closed, assigned to mgraauw

[2019-06-14 08:15] mgraauw commented on #25
Fix op fix: a_terme_datum_groep stond niet op de juiste plek, is hersteld.

[2019-06-21 09:51] mgraauw opened #26 "Overbodige namespace"
In sommige specs (b.v.
https://github.com/mgraauw/ADA-Lite-Geboortezorg/blob/master/ada-lite/specs-simplified/kernset-23.xml)
staat een namespace alleen op conceptList:
<conceptList xmlns:bc-alg="https://babyconnect.org/ns/ada-lite-geboortezorg">
Beter overal namespaceloos te werken, je weet maar nooit of dit doorwerkt in software van leveranciers.

[2019-06-21 09:52] mgraauw commented on #26
@Erik pakken we samen op in Groningen.

[2019-07-01 12:54] mgraauw opened #27 "Schemas lite displayName"
Schemas lite geven een foutmelding als displayName niet letterlijk klopt.
B.v.:
Value 'Strippen' is not facet-valid with respect to enumeration '[Sweeping of membrane (procedure), Induction of labour by artificial rupture of membranes (procedure), Cervical ripening with balloon (procedure), Cervical ripening with Prostaglandin E2 (procedure), Oxytocin induction of labour (procedure), Prostaglandin

[2019-07-01 14:24] xatapult commented on #27
Ehhh, Tsja. Maar het is enumeration, geen vrij invulveld.

[2019-07-01 14:28] mgraauw commented on #27
We kijken er vrijdag naar.

[2019-07-05 11:18] mgraauw commented on #27
Fixed

[2019-07-05 11:18] #27 closed, assigned to nobody

[2019-07-05 12:05] #13 closed, assigned to xatapult, mgraauw

[2019-07-05 12:06] mgraauw commented on #16
Werkt, maar niet alle conceptId's zijn goed.

[2019-07-05 12:39] xatapult commented on #26
Er miste een`exclude-result-prefixes="#all"` attribut op het `<xsl:stylesheet>`  element van `design/xsl/spec-full2spec-lite.xsl`

[2019-07-05 12:40] #26 closed, assigned to xatapult

[2019-07-05 20:04] AndersNiklasHolmberg commented on #16
Hmm, hoe moet ik dat dan anders doen ?

Verstuurd vanaf mijn iPhone

--

**Disclaimer*

*Aan dit bericht (inclusief attachments) kunnen geen
rechten worden ontleend. Het bericht is alleen bestemd voor de
geadresseerde. Indien dit bericht niet voor u is bestemd, verzoeken wij u
vriendelijk dit onmiddellijk aan ons te melden en de e-mail inclusief
attachments te vernietigen.

The contents of this me

[2019-09-25 07:42] AndersNiklasHolmberg opened #28 "Schematron validate"
Vraag gesteld aan Marc middels mail. Kopie mail bijgevoegd.

[Korte vraag over de schematrons.docx](https://github.com/mgraauw/ADA-Lite-Geboortezorg/files/3651191/Korte.vraag.over.de.schematrons.docx)

[2019-09-25 07:53] AndersNiklasHolmberg opened #29 "Schematron validatie #2"
Dit probleem komt ook vaker voor. Namelijk dat de waardelijst van PWD niet compleet is, en isMandatory="false". Toch geeft de schematron (lite/verloskundig-dossier-23.lite.sch) een foutmelding.

Voorbeeld:

<type_vrouwelijke_genitale_verminking value="" />

Schematron fout:

 <error>
        <text>Foutieve informatie voor "Type vrouwelijke genitale verminking": De waarde "" voor attribuut "value"

[2019-09-25 08:06] AndersNiklasHolmberg opened #30 "Schematron validatie #3"
Dit komt ook vaker voor:

huisarts/zorgverlener_agbid
huisarts/zorgverlener_uzinummer

De meeste VK's registreren geen AGB en UZI voor HA's of SPE's

Bovendien zijn deze elementen niet verplicht:
`<concept id="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82022"
                  statusCode="draft"
                  effectiveDate="2016-09-08T00:00:00"
                  type="group"
                  min

[2019-09-25 10:10] AndersNiklasHolmberg opened #31 "Schematron validatie #4"
Medicatiegebruik - Einddatum. Als er geen datum is ?!

<concept id="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80752"
                  statusCode="draft"
                  effectiveDate="2016-09-08T00:00:00"
                  type="item"
                  minimumMultiplicity="0"
                  maximumMultiplicity="1"
                  **isMandatory="false"**
                  shortName="einddatum

[2019-09-25 11:38] AndersNiklasHolmberg opened #32 "Schematron validatie #5"
<partner.etniciteit value="" /> niet mogelijk

<error>
        <text>Foutieve informatie voor "Etniciteit": De waarde "" voor attribuut "value" is onjuist [/verloskundig_dossier_23/vrouw/partner/etniciteit/@value; allowed=('14', '13', '12', '3', '4', '5', '8', '11', 'UNK')]</text>
        <diagnisticReferences/>
        <test>empty(@value) or (@value = ('14', '13', '12', '3', '4', '5', '8', '11',

[2019-09-25 12:17] AndersNiklasHolmberg opened #33 "Zorgverlenertype - verschillende value Sets? Ingewikkeld"
valueSet name="ZorgverlenerType"
                         displayName="ZorgverlenerType"
                         effectiveDate="2011-01-28T00:00:00"
                         id="2.16.840.1.113883.2.4.11.58"
                         statusCode="final"

valueSet id="2.16.840.1.113883.2.4.11.187"
                   name="RolZorgverlenerMedischOnderzoek"
                   displayName="RolZorgverlene

[2019-09-25 12:18] AndersNiklasHolmberg opened #34 "prenatale_controle/rookgedrag"
isMandatory="false"

<error>
        <text>Foutieve informatie voor "Rookgedrag": De waarde "" voor attribuut "value" is onjuist [/verloskundig_dossier_23/zwangerschap/prenatale_controle/rookgedrag/@value; allowed=('1', '2', '3', '4', '5', '6', 'UNK')]</text>
        <diagnisticReferences/>
        <test>empty(@value) or (@value = ('1', '2', '3', '4', '5', '6', 'UNK'))</test>
        <flag>ERROR</

[2019-09-25 12:19] AndersNiklasHolmberg opened #35 "prenatale_controle/alcoholgebruik"
isMandatory="false"

<error>
        <text>Foutieve informatie voor "Alcoholgebruik": De waarde "" voor attribuut "value" is onjuist [/verloskundig_dossier_23/zwangerschap/prenatale_controle/alcoholgebruik/@value; allowed=('1', '2', '3')]</text>
        <diagnisticReferences/>
        <test>empty(@value) or (@value = ('1', '2', '3'))</test>
        <flag>ERROR</flag>
        <role/>
        <locat

[2019-10-01 15:54] mgraauw opened #36 "communicatietaal"
communicatietaal='nl' wordt afgekeurd, waarschijnlijk omdat completeCodesystem gebruikt wordt

[2019-10-08 13:08] mgraauw commented on #36
Probleem is dat bestand communicatietaal bevatte, moet zijn communicatie_taal. Heeft niets met completeCodesystem  te maken.

[2019-10-08 13:08] #36 closed, assigned to nobody

[2020-01-09 10:11] joostfaassen opened #37 "One root element for all transactions"
Based on my understanding, the concept of "transactions" will eventually be removed from ADA lite, and a single root element (`<ada_lite />` maybe?) will be used for all ADA lite documents. Is this correct?

[2020-01-09 10:21] joostfaassen opened #38 "~adaextension~ to ada_extension"
As seen in the [README extension example](https://github.com/mgraauw/ADA-Lite-Geboortezorg#extensies):

Can we rename `adaextension` to `ada_extension` or just `extension`? `skype-id` then also becomes `skype_id` following the [snake casing](https://en.wikipedia.org/wiki/Snake_case) of all other elements in the ADA format. This helps to keep our OCD in check :-)

[2020-01-09 14:25] mgraauw commented on #37
Just checked, the name of the root element already does not matter, you can call it <ada_lite> or <joost> or whatever you like. The @transactionRef does matter: if the goal is to submit a kernset, the appropriate value must be provided.

[2020-01-09 14:25] #37 closed, assigned to nobody

[2020-01-09 14:42] mgraauw commented on #38
OK, we'll do that. ada_extension, extension is more likely to provide reserved name clashes.

[2020-01-09 15:45] joostfaassen commented on #37
Perfect, thanks!

Just for understanding it properly: where exactly does the @transactionRef get picked up in the kernset transformation? Is this during ada-lite to ada-full, or in ada-full to hl7v3 (in which case the transactionRef could just be hardcoded in the hl7v3 xslts)

[2020-01-09 16:07] mgraauw commented on #37
Both. ADA full root element will be ```<kernset>```, based on transactionRef, and HL7 conversion uses it too. And I can't hardcode it anyway, I need something to decide which xslt to use for the conversion. And touching the full ADA format is not wise, too much software (both in and out of my control) depends on that already.

[2020-01-21 12:17] mgraauw opened #39 "Geb.datum eiceldonatrice mist in verl.kundig dossier"

[2020-01-21 12:27] mgraauw opened #40 "Ontsluitingsduur en duur actief meepersen"
Moet dit deel worden van verl.kundig dossier, of berekend?

[2020-02-27 13:27] mgraauw opened #41 "Schematron moet @root etc. toestaan"

[2020-02-27 13:56] mgraauw commented on #38
Unfortunately this has already landed in the ART-DECOR software at Nictiz. Too risky to change now, won't be fixed.

[2020-02-27 13:56] #38 closed, assigned to nobody

[2020-04-02 14:38] #40 closed, assigned to mgraauw

[2020-04-02 14:39] #32 closed, assigned to nobody

[2020-04-02 14:39] #28 closed, assigned to nobody

[2020-04-02 14:39] #29 closed, assigned to nobody

[2020-04-02 14:39] #30 closed, assigned to nobody

[2020-04-02 14:39] #31 closed, assigned to nobody

[2020-04-02 14:40] mgraauw opened #42 "Toevoegen wrapper aan ADA Lite"
Voor o.a. auteur en create date - voor zowel kernset als kraamkamer

[2020-04-02 14:41] mgraauw opened #43 "Schematron kernset controles"
Directe controles op ADA Lite

[2020-04-03 15:08] mgraauw commented on #41
and @nullFlavor

[2020-04-08 16:34] mgraauw commented on #41
Fixed in 1b2d482dcf8add827a5f6c1d68c1d152a58b5d54

[2020-04-08 16:34] #41 closed, assigned to nobody

[2020-05-04 12:55] mgraauw opened #44 "enum werkt niet naar behoren"
Er zitten in kernset 23 zaken als:
Neonatal_metabolic_and_endocrinologic_disorder_(disorder)_Neonatal_renal_disorder_(disorder)
uit geneste waardenlijsten.
Vraag is of enum niet afgeschaft moet worden.

[2020-09-08 09:17] xatapult opened #45 "Veld kindspecifieke_gegevens/rangnummer_kind ontbreekt"

[2020-09-16 15:36] mgraauw commented on #45
Toegevoegd

[2020-09-16 15:36] #45 closed, assigned to nobody

[2020-09-16 15:36] mgraauw commented on #42
Gedaan, met name aan Nictiz repo

[2020-09-16 15:36] #42 closed, assigned to nobody

[2020-09-16 15:40] mgraauw commented on #39
Dit item zit niet in kernset, alleen in screening. Lijtk dus niet nodig.

[2020-09-16 15:40] #39 closed, assigned to mgraauw

[2020-09-16 15:40] #35 closed, assigned to nobody

[2020-09-16 15:40] #34 closed, assigned to nobody

[2020-09-16 15:41] #33 closed, assigned to nobody

[2020-09-16 15:42] mgraauw commented on #21
v2 conversie is niet meer in scope is, voorlopig sluiten.

[2020-09-16 15:42] #21 closed, assigned to mgraauw

[2020-09-16 15:42] mgraauw commented on #16
Niet meer in scope.

[2020-09-16 15:42] #16 closed, assigned to mgraauw

[2020-11-25 12:32] xatapult opened #46 "Invalid schemas for kernset geboortezorg 2.3"
The schemas for the kernset geboortezorg 2.3 are invalid themselves. They define a complex type `dossiernummer_1` twice.

* `ADA-Lite-Geboortezorg/ada-lite/schemas-simple-lite/kernset-23.simple.lite.xsd`
* `ADA-Lite-Geboortezorg/ada-lite/schemas-simple-full/kernset-23.simple.full.xsd`

There is also a Calabash temp file in `ADA-Lite-Geboortezorg/ada-lite/schemas-simple-lite` which doesn't belong t